// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;

html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
} /* You can add global styles to this file, and also import other style files */

html,
body {
  overflow: hidden !important; // Remove o scroll da tela
  margin: 0; // Remove margens do body para evitar deslocamento
  padding: 0; // Remove qualquer padding adicional
  width: 100vw; // Garante que o body ocupe exatamente a largura da viewport
  height: 100vh; // Garante que o body ocupe exatamente a altura da viewport
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
